<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="basenet.better.basenet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VolleyActivity"
            android:label="@string/title_activity_volley" />
        <activity android:name=".OkHttpActivity" />
        <activity android:name=".volley.VolleyGetActivity" />
        <activity
            android:name=".volley.VolleyTimeoutActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".volley.VolleyCancelActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".okhttp.OkhttpGetActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".okhttp.OkhttpTimeoutActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".okhttp.OkhttpCancellActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".okhttp.OkhttpUploadActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".okhttp.OkhttpDownActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".okhttp.OkhttpCacheActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".okhttp.OKHttpSyncActivity"></activity>
        <activity android:name=".okhttp.OkhttpUploadBreakActivity"></activity>
    </application>

</manifest>